@media (max-width: 1015px){
  #loginPanel {
      height: auto;
      width: 65%;
  }
  .form__input-Label, input, .form__button{
    width: 100%;
  }
}
@media (min-width: 1024px){
  #loginPanel {
      height: auto;
      width: 40%;
  }
  .form__input-Label, input, .form__button{
    width: 40%;
  }
}
