.landing {
  background: url('../media/images/city.jpg') no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.landing::after{
background-image: linear-gradient(to bottom right,#002f4b,#000000);
bottom: 0;
content: '';
left: 0;
opacity: .5;
position: fixed;
right: 0;
top: 0;
width: 100%;
z-index: -9999;
}
.image404 {
  background: url('../media/images/android.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
}
