.request {
  background: url('../media/images/service.jpg') no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.request::after{
  background-image: linear-gradient(to bottom right,#002f4b,#000000);
  bottom: 0;
  content: '';
  left: 0;
  opacity: .5;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -9999;
}

button, input, textarea, select, #status {
    width: 100%;
}
.imageUpload{
    border-radius: 4px;
    color: #0288D1;
    cursor: pointer;
    font-size: 2.25rem;
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
}
.imageUpload:hover{
  color: #FFFFFF;
  background-color: #0288D1;
}

#alerts{
  padding: 4.55rem;
  font-size: 3.41rem;
  height: 6.82rem;
}

@media (min-width:1024px) {

  html{
    font-size: 5.5px;
  }

  .sub-logo{
    font-size: 2.75rem;
  }

  #navbar ul,#footer ul{
    font-size: 3.18rem;
  }

  #navbar li {
    margin-right: 9.09rem;
  }

  #footer ul{
    height: 10.11rem;
  }

  .Logo{
    font-size: 6.82rem;
    padding-left: 2.27rem;
  }
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form__control {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 0rem;
  }

.form__control {
    width: 75%;
  }

  #submitRow{
    display: flex;
    justify-content: center;
  }
  .formInput{
    flex:2;
  }
  .form__button{
    width:100%;
  }

  #loginPanel2{
    height: 85%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    padding: 2.5rem;
    width: 50%;
  }

  .form__submit-button{
    font-size: 2.5rem;
    padding: 1.25rem;
    width: 50%;
  }
  .requestForm-mod{
    flex-direction: column;
    margin-bottom: 2.5%;
  }
  .form__input-Label {
    width: 100%;
  }
  .margin-right{
    margin-right: 5%;
  }
}

footer{
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

#alerts{
  font-size: 2.85rem;
  height: 15rem;
}

@media (max-width:600px) {

  .form__input-Label {
    width: 100%;
  }

  #loginPanel2{
      padding: 2rem;
      width:300px;
      height: 60%;
      margin:0;
  }

  h2{
    text-align: center;
  }

  .form__control{
    margin-bottom: 1%;
    margin-top: 1%;
  }

  input, select,textarea,.form__input-Label,#status{
    font-size: 1rem;
  }

  .form__input-Label {
    width: 100%;
  }

  .sub-logo {
    text-align: center;
    font-size: 2.5rem;
  }
  #alerts {
    font-size: 2rem;
}

}


@media (max-width:960px) {
  .form__input-Label {
    width: 100%;
  }
  .sub-logo{
    text-align: center;
  }
  #alerts {
    font-size: 2rem;
}
  button, input, textarea, select, .imageUpload, #status {
    width: 100%;
}
 main{
   height: 100%;
 }
 #loginPanel2{
     padding: 2rem;
      height: 75%;
 }
 .form__control{
   width: 100%;
 }
 #loginPanel2 {
   margin-top: 2%;
   margin-bottom: 2%;
 }
}
p:not(#status){
  flex:1;
}
