#loginPanel {
align-items: center;
background-color: #FFFFFF;
border-radius: 0.4rem;
display: flex;
flex-direction: column;
height: auto;
padding: 3rem;
justify-content: center;
width: auto;
}

.form__button, input,textarea, select, #status, .form__input-Label{
  width: 50%;
}

input,textarea, select, .blackBox{
  border: 2px solid #000000;
}

main{
  height: 90%;
}

.form__submit-button{
margin-top: 2rem;
}

.form__control {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* @media (max-height:568px) {

  html{
    font-size: 5.5px;
  }

} */

@media (max-width:600px) {

  html{
    font-size: 7.5px;
  }

}

@media (max-width:1024px) {
  .form__button, input, textarea, select, #status, .form__input-Label {
      width: 75%;
  }

  #loginPanel2{
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

@media (min-width:1025px) {

  html {
    font-size: 12.5px;
  }

  #loginPanel {
    height: auto;
    }

  .form__input-Label{
    font-size: 2rem;
  }

  form, .form__control{
    width:100%;
  }

  .form__button{
    font-size: 1.5rem;
  }

  input, select{
    font-size: 1.5rem;
  }

  .form__submit-button{
    margin-right: 0;
  }
  .sub-logo{
    margin: 1rem 0;
    font-size: 1.75rem;
  }

}
@media (max-height:705px) and (min-width:1025px){
  html{
    font-size: 8.5px;
  }
  main{overflow: scroll;}
}
