#loginPanel2{
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.9;
  width:50%;
}

#navbar ul{
  font-size: 2.33rem;
}

#footer ul{
  font-size: 2.33rem;
  height: 7.42rem;
}

#navbar li {
  margin-right: 6.67rem;
}

.Logo{
  font-size: 5rem;
  padding-left: 1.67rem;
}

#alerts{
  padding: 3.33rem;
  font-size: 2.5rem;
  height: 5rem;
}

html{
  font-size: 7.5px;
}


input{
  margin :0 0;
}

.form__input-Label{
  font-size: 1.25rem;
  color: #000000;
}

@media (max-width:600px) {
  .form__input-Label {
    width: 75%;
  }

  #loginPanel2{
    width: 75%;
  }

  input,.form__button, select, textarea{
    width: 100%;
  }

  .sub-logo{
    font-size: 2rem;
  }

  .form__input-Label{
    font-size: 1.75rem;
  }

  .hamburger{
    font-size: 2.72rem;
  }

  .Logo{
    font-size: 3.4rem;
    padding-left: 1.36rem;
  }

  #navbar ul{
    font-size: 1.9rem;
  }

  #footer ul{
    font-size: 2.33rem;
    height: 6.07rem;
  }

  #navbar li{
    margin-right:0;
  }

  html{
    font-size: 6.0px;
  }

}
@media (min-width:1025px) {
  input, select{
    font-size: 2.5rem;
  }

  #loginPanel2 {
    padding: 2rem;
    font-size: 1.5rem;
    width:50%;
    }

    .form__input-Label{
      font-size: 2.75rem;
      width: 75%;
    }
    #signupbtn{
      font-size: 2.25rem;
      padding: 1.5rem 0rem;
    }
    .sub-logo {
    font-size: 2.75rem;
    }
}

.form__input-Signup{
  width:75%;
}

.form__submit-button{
  margin-right: 0;
  width: 87%;
}

.infoLabelsSignup{
  font-size: 2.75rem;
}

@media (max-width:1024px) {
  .form__input-Signup {
      width: 75%;
  }
  .sub-logo{
    font-size: 2.5rem;
  }
  .form__input-Label {
    font-size: 2.75rem;
  }
}
.signupPanel-mod{
  padding: 4.5rem !important;
}
.signupForm-mod{
  flex-direction: row;
  margin-bottom: 2.5%;
}
@media (max-height:705px) {
  html{
    font-size: 6.0px;
  }
  main{overflow: scroll;}
}
@media (max-height:568px) {

  html{
    font-size: 5.0px;
  }

}
