#requests{
  background-color: #FFFFFF;
  margin:auto;
  padding: 2em;
  width:100%;
}

.del{
  background-color: #e60000!important;
}

.del:hover{
  background-color: #ff3333!important;
}

#alerts{
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-size: 2.25rem;
  height: 5rem;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
  width:100%;
}

#alertClose, #modalClose{
  cursor:pointer;
}

main{
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.requestsTable{
display: flex;
flex-direction: column;
}

.disabled{
  cursor: not-allowed !important;
  opacity: 0.2;
}

.requestRow{
  border-top: 0.25rem #0288D1 solid;
  display: flex;
  flex-direction: row;
  height: 216px;
  justify-content: space-between;
  padding: 1rem;
  width:100%;
}

.requestImageContainer{
  height: 196px;
  margin: 0 1%;
  width: 18%;
}

img {
    height: 100%;
    object-fit: cover;
  }


.filterRow{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

select{
  font-size: 1em;
  padding: 0.95em;
  width: 95%;
}

.filterSpan{
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.but {
    background-color: #0288D1;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 25%;
}

.but:hover{
  background-color: #03A9F4;
}

.infoColumn1 p{
  font-size: 2rem;
}

.infoColumn1, .infoColumn2{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 60.06rem;
}

.requestImageContainer{
  flex:1;
}

.infoColumn1{
  flex:1;
}

.introduction{
  font-size: 1.75rem;
}

.filterRow{
  font-size: 1.75rem;
}

#navbar ul, #footer ul{
  font-size: 2.33rem;
}

#navbar li {
  margin-right: 6.67rem;
}

#footer ul{
  height: 7.42rem;
}

.Logo{
  font-size: 5rem;
  padding-right: 1.67rem;
}

@media (min-width:601px) {
  .pagRow{
    font-size: 2rem;
    height: 10vh;
    justify-content: center;
    padding: 1rem;
    display: flex;
    border-top: 0.25rem #0288D1 solid;
  }

  .pagRow a{
    margin-top:1rem;
    text-decoration: none;
  }

  .active,.pagRow a:hover{
    background-color: #0288D1;
    color: #FFFFFF;
    padding: 1rem;
  }

}

@media (max-width: 600px) {
  .requestRow{
    display: flex;
    flex-direction: column;
  }

  .requestRow{
    height: 100vh !important;
  }

  .pagRow{
    align-items: center;
    font-size: 2rem;
    height: 10vh;
    padding: 1rem;
    justify-content: center;
    padding: 1rem;
    display: flex;
    border-top: 0.25rem #0288D1 solid;
  }

  .pagRow a{
    margin-top:1rem;
    text-decoration: none;
  }

  .active,.pagRow a:hover{
    background-color: #0288D1;
    color: #FFFFFF;
    padding: 1rem;
  }

  .requestImageContainer{
    height: 25%;
    width: 100%;
  }

  .requestImageContainer, .infoColumn1,.infoColumn2{
    margin-bottom: 2rem;
  }

  .introduction{
    font-size: 1.5rem;
  }

  img{
    width:100%;
  }

  .hamburger{
    font-size: 2.72rem;
  }

  .Logo{
    font-size: 3.4rem;
    padding-left: 1.36rem;
  }

  #navbar ul{
    font-size: 1.9rem;
  }

  #footer ul{
    font-size: 2.33rem;
    height: 6.07rem;
  }

  #navbar li{
    margin-right:0;
  }

  a.but{
    width:100%;
  }

  .infoColumn1{
    width:100%;
  }

}

body{
  -webkit-logical-height: 100%!important;
}
