.modalDelResolve,.approvebtn, .modalDeldisapprove,.modalCancel,
.modalDelApprove,.disapprovebtn, .resolvebtn,.placeholder,
.editDetailBtn, .deleteBtn,.approveDetailBtn,.modalApprove {
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.modalApprove{
  background-color: #ffffff;
  color:#004f79;
}

.modalApprove:hover{
  background-color: #cccccc;
  color: #004f79;
}

.approvebtn{
  background-color: #32CD32;
  width: 100%;
}

.approvebtn:hover{
  background-color: #98FB98;
}

.disapprovebtn {
    background-color: #e60000;
    width: 100%;
}

.disapprovebtn:hover{
  background-color: #ff3333;
}

.resolvebtn {
  background-color: #DAA520;
  width: 100%;
}

.resolvebtn:hover, .resolveBtnNon100:hover, .modalDelResolve:hover{
  background-color:  #EEE8AA;
  cursor: pointer;
}

.resolveBtnNon100,.modalDelResolve{
  background-color: #DAA520;
}

.placeholder{
  cursor: default;
}

.deleteBtn,.modalDelApprove, .requestDisapproved, .modalDeldisapprove{
  background-color: #e60000;
}

.deleteBtn:hover, .modalDelApprove:hover, .requestDisapproved:hover, .modalDeldisapprove:hover{
  background-color: #ff3333;
}

.editDetailBtn, .approveDetailBtn,.modalCancel{
  background-color: #0288D1;
}

.editDetailBtn:hover, .approveDetailBtn:hover,.modalCancel:hover{
  background-color: #236B8E;
}

.requestApproved{
  background-color: #32CD32 !important;
}

.requestApproved:hover{
  background-color: #98FB98 !important;
  cursor: pointer;
}

.requestRow{
  height: 300px;
}

.requestImageContainer{
  height: 285px;
}

.requestRowFooter{
  height: 10vh !important;
}
