a.approvebtn, a.disapprovebtn, a.resolvebtn,a.placeholder {
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
a.approvebtn{
  background-color: #32CD32;
}
a.approvebtn:hover{
  background-color: #98FB98;
}
a.disapprovebtn {
    background-color: #e60000;
}
a.disapprovebtn:hover{
  background-color: #ff3333;
}

a.resolvebtn {
    background-color: #DAA520;
}
a.resolvebtn:hover{
  background-color:  #EEE8AA;
}
a.placeholder{
  cursor: default;
}
