.request {
  background: url('../media/images/service.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.request::after{
content: '';
top: 0;
left: 0;
width: 100%;
position: fixed;
right: 0;
bottom: 0;
background-image: linear-gradient(to bottom right,#002f4b,#000000);
opacity: .5;
z-index: -9999;
}



@media (min-width:1024px) {
  html{
    font-size: 6.5px;
  }
  .form-control {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 2rem;
  }
  #submitRow{
    display: flex;
    justify-content: center;
  }
  input, select,textarea{
    flex:2;
  }
  p{
    flex:1;
  }
  .button{
    width:100%;
  }
  #loginPanel2{
      padding: 1rem;
  }



}
@media (max-width:600px) {
  #loginPanel2{
      padding: 2rem;

  }
  h2{
    text-align: center;
  }
  .form-control{
    margin-bottom: 1%;
    margin-top: 1%;
  }
}
