#loginPanel2{
  align-items: center;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  height: 75vh;
  margin-top: 5rem;
  justify-content: center;
  width:300px;
}
.formSubmit {
  margin-right: 0;
}
input{
  margin :0 0;
}
html{
  font-size: 8.15px;
}
.inputLabel{
  font-size: 1.25rem;
}
@media (max-height:568px) {
  #loginPanel2{
    margin-top: 7.5rem;
    height: 400px;
  }
  html{
    font-size: 6.5px;
  }
}
@media (min-width:1024px) {
  #loginPanel2 {
    height: 100%;
    width:75%;
    padding: 7rem;
    }
    .inputLabel{
      font-size: 1.75rem;
    }
}
