main{
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: auto;
  height: 100%;
}

.requestImageContainer2{
  height: 100%;
}

a.editDetailBtn, a.approveDetailBtn{
  margin-right: 2.5%;
}

img{
  height: 100%;
  object-fit:fill;
  width: 100%;
}

main{
  flex-direction: column;
}

#alerts{
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-size: 2.25rem;
  height: 5rem;
  justify-content: space-between;
  padding: 2rem;
  text-align: center;
  width:100%;
}

#alertClose, #modalClose{
  cursor:pointer;
}

.details {
    flex: 1;
}

.location {
    flex: 1;
}

#detailBoard{
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  font-size: 2.25rem;
  height: 100%;
  justify-content: space-between;
  padding:2em;
  width: 100%;
}

.detailBoardPicColumn{
  margin-right: 2rem;
  padding: 1rem;
}

.detailBoardPicColumn{
  flex:1;
}

.detailBoardInfoColumn{
  flex:2;
}

.detailsAndLocation{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
}

.actionRow{
  display: flex;
  justify-content: start;
}

@media (max-width:600px) {

 #detailBoard{
   border-radius: 0;
   flex-direction: column;
   font-size: 1.5rem;
   height: inherit;
   overflow: scroll;
   padding: 2rem;
   width:100%;
 }

 .details{
   word-wrap: break-word;

 }

 a.editDetailBtn, a.deleteBtn{
   font-size: inherit;
 }

 .actionRow{
   justify-content: space-between;
 }

}

body{
  height: 100vh!important;
}
