main{
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: auto;
  height: 100%;
}

.requestImageContainer2{
  height: 100%;
}
a.editDetailBtn{
  margin-right: 2.5%;
}
img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
#detailBoard{
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  font-size: 2.25rem;
  height: 100%;
  padding:2em;
  justify-content: space-between;
  width: 100%;
}
.detailBoardPicColumn{
  margin-right: 2rem;
  padding: 1rem;
}
.detailBoardPicColumn{
  flex:1;
}
.detailBoardInfoColumn{
  flex:2;
}
.detailBoardInfoColumn div:not(:first-child){
  margin-top: 5%;
}
.detailsAndLocation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.actionRow{

  display: flex;
  justify-content: flex-start;


}
@media (max-width:600px) {

 #detailBoard{
   height: inherit;
   width:100%;
   border-radius: 0;
   flex-direction: column;
   overflow: scroll;
   padding: 2rem;
   font-size: 1.5rem;
 }

 .details{
   word-wrap: break-word;
 }
 a.editDetailBtn, a.deleteBtn{
   font-size: inherit;
 }
 .actionRow{
   justify-content: space-between;
 }
}
